In [7]:
pip install kagglehub

Requirement already satisfied: kagglehub in e:\anaconda\lib\site-packages (0.3.13)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: packaging in e:\anaconda\lib\site-packages (from kagglehub) (24.2)
Requirement already satisfied: pyyaml in e:\anaconda\lib\site-packages (from kagglehub) (6.0.2)
Requirement already satisfied: requests in e:\anaconda\lib\site-packages (from kagglehub) (2.32.3)
Requirement already satisfied: tqdm in e:\anaconda\lib\site-packages (from kagglehub) (4.67.1)
Requirement already satisfied: charset-normalizer<4,>=2 in e:\anaconda\lib\site-packages (from requests->kagglehub) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in e:\anaconda\lib\site-packages (from requests->kagglehub) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in e:\anaconda\lib\site-packages (from requests->kagglehub) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in e:\anaconda\lib\site-packages (from requests->kagglehub) (2025.4.26)
Requirement already satisfied: colorama in e:\anaconda\lib\site-packages (from tqdm->kagglehub) (0.4.6)

In [8]:
import kagglehub
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [9]:

# Download latest version
path = kagglehub.dataset_download("rehan497/global-education")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\barto\.cache\kagglehub\datasets\rehan497\global-education\versions\2

In [10]:
df1 = pd.read_csv(os.path.join(path, '1- share-of-the-world-population-with-at-least-basic-education.csv'))
df2 = pd.read_csv(os.path.join(path, '2- learning-adjusted-years-of-school-lays.csv'))
df3 = pd.read_csv(os.path.join(path, '3- number-of-out-of-school-children.csv'))
df4 = pd.read_csv(os.path.join(path, '4- gender-gap-education-levels.csv'))

In [13]:
print(df1.head())

      Entity Code  Year  \
0    Albania  ALB  2015
1    Albania  ALB  2020
2    Algeria  DZA  2015
3    Algeria  DZA  2020
4  Argentina  ARG  2015

   Share of population with no formal education, 1820-2020  \
0                                                2.0
1                                                1.0
2                                               16.0
3                                               13.0
4                                                2.0

   Share of population with some formal education, 1820-2020
0                                               98.0
1                                               99.0
2                                               84.0
3                                               87.0
4                                               98.0

In [15]:
print(df2.head())

        Entity Code  Year  Learning-Adjusted Years of School
0  Afghanistan  AFG  2017                           4.870000
1  Afghanistan  AFG  2018                           4.949788
2  Afghanistan  AFG  2020                           5.052838
3       Africa  NaN  2017                           4.931378
4       Africa  NaN  2018                           5.123904

In [16]:
print(df3.head())

    Entity Code  Year  \
0  Albania  ALB  2000
1  Albania  ALB  2001
2  Albania  ALB  2013
3  Albania  ALB  2014
4  Albania  ALB  2015

   Out-of-school children, adolescents and youth of primary and secondary school age, male (number)  \
0                                            78614.0
1                                            77837.0
2                                            27879.0
3                                            21542.0
4                                            18407.0

   Out-of-school children, adolescents and youth of primary and secondary school age, female (number)
0                                            81341.0
1                                            78849.0
2                                            21727.0
3                                            16571.0
4                                            13250.0

In [28]:
print(df4.head())

        Entity Code  Year  \
0  Afghanistan  AFG  1986
1  Afghanistan  AFG  1990
2  Afghanistan  AFG  2003
3  Afghanistan  AFG  2004
4  Afghanistan  AFG  2009

   Combined gross enrolment ratio for tertiary education, female  \
0                                            0.62182
1                                            1.40606
2                                            0.51657
3                                            0.51396
4                                            1.41213

   Combined gross enrolment ratio for tertiary education, male  \
0                                            3.60227
1                                            2.96306
2                                            1.82170
3                                            1.82145
4                                            5.97378

   Combined total net enrolment rate, secondary, male  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

   Combined total net enrolment rate, secondary, female  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

   Combined total net enrolment rate, primary, female  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

   Combined total net enrolment rate, primary, male
0                                               NaN
1                                               NaN
2                                               NaN
3                                               NaN
4                                               NaN

In [ ]:
df1.describe()

,Year,"Share of population with no formal education, 1820-2020","Share of population with some formal education, 1820-2020"
count,468.000000,468.000000,468.000000
mean,1994.775641,22.095108,77.904892
std,42.960602,28.451195,28.451195
min,1820.000000,0.000000,1.800000
25%,1990.000000,1.000000,64.850000
50%,2015.000000,7.000000,93.000000
75%,2020.000000,35.150000,99.000000
max,2020.000000,98.200000,100.000000

In [ ]:
df2.describe()

              Year  Learning-Adjusted Years of School
count   637.000000                         637.000000
mean   2016.963893                           8.017871
std       3.349216                           2.547377
min    2010.000000                           2.206502
25%    2017.000000                           6.024927
50%    2018.000000                           8.169077
75%    2020.000000                          10.321753
max    2020.000000                          12.937873

In [32]:
df3.describe()

,Year,"Out-of-school children, adolescents and youth of primary and secondary school age, male (number)","Out-of-school children, adolescents and youth of primary and secondary school age, female (number)"
count,2580.000000,2.577000e+03,2.577000e+03
mean,2004.387597,6.412909e+06,7.553630e+06
std,11.695941,2.314300e+07,2.773425e+07
min,1970.000000,1.400000e+01,3.300000e+01
25%,2000.000000,1.476800e+04,1.150500e+04
50%,2007.000000,1.232130e+05,1.027850e+05
75%,2013.000000,1.084688e+06,1.127516e+06
max,2019.000000,1.734708e+08,2.121824e+08

In [33]:
df4.describe()

,Year,"Combined gross enrolment ratio for tertiary education, female","Combined gross enrolment ratio for tertiary education, male","Combined total net enrolment rate, secondary, male","Combined total net enrolment rate, secondary, female","Combined total net enrolment rate, primary, female","Combined total net enrolment rate, primary, male"
count,9228.000000,8251.000000,8251.000000,6538.000000,6538.000000,6855.000000,6855.000000
mean,1960.161032,19.170464,16.506685,32.055344,31.498507,53.364914,59.137355
std,60.482116,27.995750,21.995645,35.751953,37.043541,38.688078,37.319553
min,1820.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,1915.000000,0.000000,0.060000,0.140000,0.010000,6.920000,19.710000
50%,1991.000000,3.167690,5.653580,12.047725,6.580000,64.800030,74.000000
75%,2007.000000,30.156035,27.061165,69.839107,72.712023,90.564715,93.026330
max,2021.000000,152.656900,149.406390,100.000000,100.000000,100.000000,99.991820

In [22]:
df1.isnull().sum()

Entity                                                         0
Code                                                         118
Year                                                           0
Share of population with no formal education, 1820-2020        0
Share of population with some formal education, 1820-2020      0
dtype: int64

In [24]:
df2.isnull().sum()

Entity                                0
Code                                 36
Year                                  0
Learning-Adjusted Years of School     0
dtype: int64

In [26]:
df3.isnull().sum()

Entity                                                                                                  0
Code                                                                                                  500
Year                                                                                                    0
Out-of-school children, adolescents and youth of primary and secondary school age, male (number)        3
Out-of-school children, adolescents and youth of primary and secondary school age, female (number)      3
dtype: int64

In [29]:
df4.isnull().sum()

Entity                                                              0
Code                                                              666
Year                                                                0
Combined gross enrolment ratio for tertiary education, female     977
Combined gross enrolment ratio for tertiary education, male       977
Combined total net enrolment rate, secondary, male               2690
Combined total net enrolment rate, secondary, female             2690
Combined total net enrolment rate, primary, female               2373
Combined total net enrolment rate, primary, male                 2373
dtype: int64

In [35]:
# 1. Merge df1 and df2
merged_df = pd.merge(df1, df2, on=['Entity', 'Code', 'Year'], how='outer')

# 2. Merge the result with df3
merged_df = pd.merge(merged_df, df3, on=['Entity', 'Code', 'Year'], how='outer')

# 3. Merge the result with df4
merged_df = pd.merge(merged_df, df4, on=['Entity', 'Code', 'Year'], how='outer')

# Save the final merged DataFrame
merged_df.to_csv("merged_education_data.csv", index=False)
print(merged_df.head())

        Entity Code  Year  \
0  Afghanistan  AFG  1820
1  Afghanistan  AFG  1825
2  Afghanistan  AFG  1830
3  Afghanistan  AFG  1835
4  Afghanistan  AFG  1840

   Share of population with no formal education, 1820-2020  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

   Share of population with some formal education, 1820-2020  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

   Learning-Adjusted Years of School  \
0                                NaN
1                                NaN
2                                NaN
3                                NaN
4                                NaN

   Out-of-school children, adolescents and youth of primary and secondary school age, male (number)  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

   Out-of-school children, adolescents and youth of primary and secondary school age, female (number)  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

   Combined gross enrolment ratio for tertiary education, female  \
0                                                0.0
1                                                0.0
2                                                0.0
3                                                0.0
4                                                0.0

   Combined gross enrolment ratio for tertiary education, male  \
0                                               0.01
1                                               0.01
2                                               0.01
3                                               0.01
4                                               0.01

   Combined total net enrolment rate, secondary, male  \
0                                               0.01
1                                               0.01
2                                               0.01
3                                               0.01
4                                               0.01

   Combined total net enrolment rate, secondary, female  \
0                                                0.0
1                                                0.0
2                                                0.0
3                                                0.0
4                                                0.0

   Combined total net enrolment rate, primary, female  \
0                                                0.0
1                                                0.0
2                                                0.0
3                                                0.0
4                                                0.0

   Combined total net enrolment rate, primary, male
0                                              0.01
1                                              0.01
2                                              0.01
3                                              0.01
4                                              0.01

In [37]:
merged_df.describe()

,Year,"Share of population with no formal education, 1820-2020","Share of population with some formal education, 1820-2020",Learning-Adjusted Years of School,"Out-of-school children, adolescents and youth of primary and secondary school age, male (number)","Out-of-school children, adolescents and youth of primary and secondary school age, female (number)","Combined gross enrolment ratio for tertiary education, female","Combined gross enrolment ratio for tertiary education, male","Combined total net enrolment rate, secondary, male","Combined total net enrolment rate, secondary, female","Combined total net enrolment rate, primary, female","Combined total net enrolment rate, primary, male"
count,9945.000000,468.000000,468.000000,637.000000,2.577000e+03,2.577000e+03,8251.000000,8251.000000,6538.000000,6538.000000,6855.000000,6855.000000
mean,1962.159980,22.095108,77.904892,8.017871,6.412909e+06,7.553630e+06,19.170464,16.506685,32.055344,31.498507,53.364914,59.137355
std,59.350235,28.451195,28.451195,2.547377,2.314300e+07,2.773425e+07,27.995750,21.995645,35.751953,37.043541,38.688078,37.319553
min,1820.000000,0.000000,1.800000,2.206502,1.400000e+01,3.300000e+01,0.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,1920.000000,1.000000,64.850000,6.024927,1.476800e+04,1.150500e+04,0.000000,0.060000,0.140000,0.010000,6.920000,19.710000
50%,1991.000000,7.000000,93.000000,8.169077,1.232130e+05,1.027850e+05,3.167690,5.653580,12.047725,6.580000,64.800030,74.000000
75%,2008.000000,35.150000,99.000000,10.321753,1.084688e+06,1.127516e+06,30.156035,27.061165,69.839107,72.712023,90.564715,93.026330
max,2021.000000,98.200000,100.000000,12.937873,1.734708e+08,2.121824e+08,152.656900,149.406390,100.000000,100.000000,100.000000,99.991820

In [36]:
merged_df.isnull().sum()

Entity                                                                                                   0
Code                                                                                                  1092
Year                                                                                                     0
Share of population with no formal education, 1820-2020                                               9477
Share of population with some formal education, 1820-2020                                             9477
Learning-Adjusted Years of School                                                                     9308
Out-of-school children, adolescents and youth of primary and secondary school age, male (number)      7368
Out-of-school children, adolescents and youth of primary and secondary school age, female (number)    7368
Combined gross enrolment ratio for tertiary education, female                                         1694
Combined gross enrolment ratio for tertiary education, male                                           1694
Combined total net enrolment rate, secondary, male                                                    3407
Combined total net enrolment rate, secondary, female                                                  3407
Combined total net enrolment rate, primary, female                                                    3090
Combined total net enrolment rate, primary, male                                                      3090
dtype: int64